[Desktop Entry]
Encoding=UTF-8
Name=Link to xMapper: An Architecture-Implementation Mapping Tool - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=ArpMIpaHeZU
Icon=text-html
Name[en_US]=Author xMapper: An Architecture-Implementation Mapping Tool - YouTube
